body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    background-color: #EEEBD3;
    color: #0C0A3E;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
}

/* Ensure that .container takes full width in mobile view */
.container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.logo {
    width: 200px; /* Adjust the size as needed */
    margin: 20px 0; /* Top and bottom margin */
    align-self: center; /* Center logo in the flex container */
}

.summary {
    background-color: #A89CED;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cardrwo {
    text-align: center; /* Center the text horizontally */
    max-width: 300px;    /* Limit the width to 300px */
    margin: 0 auto;      /* Center the element horizontally */
}

.card h2 {
    color: #A89CED;
    margin-top: 0;
}
.card p {
    color: #666666;
}
.card img {
    width: 100%; /* Makes the image responsive */
    border-radius: 4px;
    margin-bottom: 10px;
}
 h1 {
    color: #A89CED;
}

button, input[type=text] {
    width: 90%; /* Make buttons and inputs take up most of the container width */
    margin: 10px; /* Margin for spacing */
    background-color: #CCFF33;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    color: #0C0A3E; /* Set button text to black */
    font-weight: bold; /* Make the text bold */
}

input[type=text] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Media query for mobile screens */
@media screen and (max-width: 600px) {
    .container {
        margin: 0;
        max-width: none; /* Allows container to be full width */
        width: 100%;
    }

    /* Adjust button and input sizes if necessary */
    button, input[type=text] {
        width: calc(100% - 20px); /* Full width minus the padding */
    }
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    margin-left: -60px; /* Half of width */
    margin-top: -60px; /* Half of height */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}